.Notification-body{
    width:100%;
    background-color: rgb(0, 164, 236);
    border-radius: 5px;
}
.Notification-each{
    padding:10px;
    border-bottom:1px solid white;
    width: 100%;
    box-sizing: border-box;
}
.Notification-each:hover{
    background-color: rgb(55, 222, 231);
}
.Notification-each:last-child{
    border-radius: 5px;
}