.Graph{
    min-height: 500px;
    width: 66%;
    margin-right: 30px;
    background: rgb(33,49,71);
}

.Graph-header{
    margin: 15px 10px 0 10px;
    padding: 20px;
    background: rgb(39, 59,86);
}

.Graph-header>h3{
    margin: 0;
    padding:0;
}

.Graph-liveGraph{
    margin: 0 10px;
    padding: 20px;

}