.Orders-div{
    flex-grow: 1;
    overflow: auto;
    max-height: 500px;
    margin-top: 30px;
}
.Orders-table{
    width: 100%;
    padding: 0 10px;
    background: rgb(33,49,71);
}

.Orders-table-heading{
    padding: 20px 0 10px 0;
    color: rgb(92,108,132);
    text-align: center;
}
.Orders-title{
    padding-left: 15px;
}

.Orders-row-tr:nth-child(even){
    background: rgb(29,43,63);
}
.Orders-row-td{
    text-align: center;
    padding: 10px 0;
    border: none;
}
