.Portfolio {
    display: flex;
    flex-direction: row;
    height: 100px;
}

.Portfolio-Graphs {
    padding: 10px;
    flex-direction: column;
    flex: 1
}

.Portfolio-Table {
    padding: 10px;
    flex: 1
}