.Body{
    box-sizing: border-box;
    flex-grow: 1;
    margin: 30px 20px 20px 20px;
    color: white;
    display: flex;
    flex-direction: column;
    width: 87%;

}

.Body-graph-and-ticker-container{
    display: flex;
    min-height: 100px;
    box-sizing: border-box;
    margin-top: 30px;
}

.Body-orders-and-twitter-container{
    display: flex;
    min-height: 100px;
    box-sizing: border-box;
    margin-top: 30px;
}

.Body-orders{
    display:flex;
    min-width:66%;
    margin-right: 30px;
    flex-direction:row;
    justify-content: space-between;
}

.Chart-Tabs-Button {
    background-color: rgb(38, 59, 86);
    border: rgb(0, 164, 236);
    border-style: solid;
    border-radius: 8px;
    border-width: 1px;
}

.Chart-Tabs-Button button {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: transparent;
    border: none;
    font-size: 14px;
    color: rgb(100, 150, 150);
    outline: none;
}

.Chart-Tabs-Button button.selected {
    background-color: rgb(0, 164, 236);
    border-radius: 6px;
    color: white;
    border: none;
    font-size: 14px;
    margin: 3px;
}

.Chart-Tabs-Button button:hover {
    color: white;
    font-size: 14px;
}

.Body-order-source>p{
    color: rgb(87, 127, 180);
}

@media screen and (max-width: 1200px) {
    .Body-orders{
        flex-direction:column;
        width: 100%;
    }
    .Body-orders-and-twitter-container{
        flex-direction: column;
    }
    .Ticker-table-row-td{
        font-size: 13px;
    }
    .Ticker-table-header-th{
        font-size: 14px;
    }
}


@media screen and (max-width: 1020px) {
    .Body-orders{
        flex-direction:column;
    }
    .Body-graph-and-ticker-container{
        flex-direction: column-reverse;
    }
    .Ticker{
        margin-bottom: 30px;
    }
    .GraphContainer{
        width: 100%;
    }
    .Ticker-table-row-td{
        font-size: 15px;
    }
    .Ticker-table-header-th{
        font-size: 16px;
    }
}


@media screen and (max-width: 768px) {
    .Body-orders{
        flex-direction:column;
    }
    .Ticker-table-row-td{
        font-size: 12px;
    }
    .Ticker-table-header-th{
        font-size: 13px;
    }
}