.Body{
    box-sizing: border-box;
    flex-grow: 1;
    margin: 30px 20px 0 20px;
    color: white;
    display: flex;
    flex-direction: column;
}

.Body-graph-and-ticker-container{
    display: flex;
    min-height: 100px;
    box-sizing: border-box;
    margin-top: 30px;
}

.Body-orders{
    display:flex;
    width:66%;
    flex-direction:row;
}