.LoginForm{
     display: flex;
     flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 768px){
    .LoginForm{
        margin: 0;
    }
}