.signup-body-div{
  background: url('./signup.png');
  background-size: 102%;
  background-position: center;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.signup-body{
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding: 20px;
  background: rgba(25, 65, 175, 0.225);
}
.signup-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5% 0 0 10%;
  color: white;
}
.signup-heading{
  font-size: 50px;
  padding: 20px;
  text-align: center;
}
.signup-form-div{
  width: 50%;
}
.signup-form {
  display: block;
  margin: auto;
  background: rgb(14,39,89);
  width:70%;
  border-radius: 5px;
  box-sizing: border-box;
}
.signup-bullets{
  display: block;
  margin: auto;
  flex-grow: 1;
  /* margin-right: 20px; */
  font-size: 18px;
}
.signup-bullets li {
  padding: 12px;
  line-height: 1.5em;
}
.signup-register{
  color: white;
  font-size: 25px;
  text-indent: 20px; 
}
.signup-form input{
  width: 95%;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  padding: 20px;
  margin: 10px 20px;
  box-sizing: border-box;
}
.signup-submit{
  background-color: rgb(25,33,50);
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
  margin-top: 20px;
}
.signup-submit button{
  background: rgb(240,115,1);
  border: none;
  color: white;
  font-size: 16px;
  padding: 20px 10%;
  /* width: 250px; */
  border-radius: 5px;
  display: block;
  margin: auto;
}
.signup-form-padding{
  padding: 40px 20px 0;  
}
@media screen and (max-width: 700px) {
  .signup-body{
    flex-direction: column-reverse;
  }
  .signup-form-div{
    width: 100%;
  }
  .signup-form{
    width: 95%;
  }
  .signup-text{
    width: 95%;
  }
}