.Distribution{
    flex-grow: 1;
    background: rgb(33,49,71);
    overflow: auto;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
}

.Distribution-Header {
    background-color: #293A54;
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: center;
}

.Distribution-Header-Title {
    margin: 0px;
    color: white;
    display: flex;
    flex: 1
}

.GraphLabelItem span{
    display: inline-flex;
    color: white;
    padding:10px;
    margin: 5px;
    font-size: 14px;
}