.GraphLabelItem {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
}

.GraphLabelItem-Value {
    border-bottom: solid;
    border-width: 2px;
    color: white;
    align-self: center;
    padding-bottom: 10px;
}

.GraphLabelItem-Symbol {
    padding-top: 10px;
    color: white;
    align-self: center;
}

.GraphLabelItem span{
    display: inline-flex;
    font-size: 14px;
}