.Header{
    height: 70px;
    display:flex;
    justify-content: space-between;
    background: rgb(14,39,89);
    color: white;
    align-items: center;
}

.Header-button-container{
    height: 100%;
    display: flex;
}

.Header-button-container > button {
    margin-right: 20px;
    min-width: 80px;
    background: none;
    color: rgb(132,147,171);
    border: none;
    border-bottom: 4px solid rgb(14,39,89);
    box-sizing: border-box;
    font-size: 18px;
    padding: 0 20px;
}

.Header-button-container > button:hover,
.Header-button-container > button:focus{
    border-bottom: 4px solid rgb(77,170,233);
    color: white;
    outline: none;
}
.Header-heading{
    margin-left: 10px;
}