.editCoinModal {
    background-color: rgb(255, 255, 255);
}

.editCoinModal_header {
    text-align: center;
    font-family: Roboto;
}

.editCoinModal_editCoinForm {
    width: 300px;
    text-align: left;
    padding: 20px;
    padding-bottom: 0px;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
}

.editCoinModal_editCoinForm_input_label {
    font-size: 16px;
    font-family: Roboto;
    margin-bottom: 5px;
}

.editCoinModal_editCoinForm_input {
    padding: 8px;
    font-size: 16px;
    font-family: Roboto;
    background-color: white;
    border: 1px;
    border-color: rgb(39, 59,86);
    border-radius: 5px;
    border-style: solid;
    width: 280px;
    color:rgb(39, 59,86);
    margin: 10px 0;
}

.editCoinModal_editCoinForm_submit {
    background: rgb(240, 115, 1);
    border: none;
    min-width: 40%;
    font-size: 13px;
    color: white;
    margin-bottom: 10px;
    padding: 15px 10px;
    align-self: flex-end;
    border-radius: 5px;
    outline: none;
}