.NotFound{
    margin: 20px;
    padding: 20px;
    color: white;
    background: rgb(33,49,71);
    text-align: center;
}

.NotFound-error-code{
    font-size: 50px;
}

.NotFound-error-message{
    font-size: 30px;
}

.NotFound:hover{
    color: rgb(132,147,171);
}

.NotFound-go-back-home-button{
    color: white;
    text-decoration: none;
    padding: 10px;
    background: #28a745;
    border-radius: 5px;
}

.NotFound-go-back-home-button:hover{
    background: #007E33;

}