.MyCoin-table-row{
    text-align: center;
    border: none;
    color: white;
}

.MyCoin-table-row:nth-child(odd){
    background: rgb(29,43,63);
}

.MyCoin-table-row:hover{
    background: rgb(39,59,86);
}